body {
    background-color: lightgray;
}

.option {
    border-radius: 25px;
    background-color: cornflowerblue;
    width: 20%;
    padding: 25px;
    text-align: center;
}

.option h1 {
    color: white;
    font-weight: bold;
}
