body {
	background-color: lightgray;
}

.option.primary {
	background-color: cornflowerblue;
}

.option.secondary {
	background-color: rgb(255, 103, 98);
}

.option {
	border-radius: 25px;
	padding: 25px;
	margin: 5% 2%;
	text-align: center;
	box-shadow: rgb(116, 116, 116) 2px 2px 2px;
}

#dropdown1 {
	display: none;
}

#dropdown2 {
	display: none;
}

#dropdown3 {
	display: none;
}

.option h1 {
	color: white;
	font-weight: bold;
}

.options {
	display: flex;
	flex-direction: row;
}

div[data-id="testid"] {
	background-color: red;
	color: white;
	font-size: large;
	margin: 10px 0px;
}
