/* general styles */
* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1 {
    margin: 20px 0 20px 0;
}
    
/* flex container */
#flex-container {
    margin: 2rem 4rem;
    display: flex;
    justify-content: center;
}

/* instruments panel */
#instruments-panel {
    background-color: #CFDCE9;
    padding: 0 1rem 1rem 1rem;
    color: white;
    width: 24rem;
    height: auto;
}

#instruments-panel h1 {
    color: #21314d;
}

.instrument {
    background-color: #21314d;
    margin: 1px;
    height: auto;
    padding: 3px 10px;
    transition: 0.3s;
}

.greyed-out {
    background-color: #a0a0a0;
    pointer-events: none;
    cursor: default;
    transition: 0.2s;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* criteria panel*/
#criteria-panel {
    color: #21314d;
    width: 128rem;
    margin-left: 2rem
}

.criteria-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 8px;
}

.criteria-group {
    width: 14rem;
    background-color: #CFDCE9;
    padding: 12px 12px 24px 12px;
}

.criteria-group h3 {
    margin: 0 0 8px 0;
    font-size: 20px;
    font-weight: 700;
}

/* custom checkboxes */
.checkbox-container {
    font-size: 16px;
    display: flex;
    gap: 4px;
}

.checkbox-container span {
    padding-top: 2px;
    user-select: none;
    -moz-user-select: none;
    -webkit-text-select: none;
    -webkit-user-select: none;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    padding: 4px;
    color: #21314d;
    min-width: 20px;
    height: 20px;
    border: 2.5px solid #21314d;
    border-radius: 2px;
    cursor: pointer;
}

input[type="checkbox"]:hover {
    background-color: #879EC3;
    transition: 0.3s;
}

input[type="checkbox"]:checked {
    background-color: #21314d;
}

button {
    margin-top: 20px;
    cursor: pointer;
    border: 2px solid #21314d;
    background-color: white;
    color: #21314d;
    padding: 8px;
    font-size: medium;
    border-radius: 4px;
}

button:hover {
    background-color: #21314d;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}